<div class="auth-container">
  <div class="auth-card">
    <h2>Iniciar Sesión</h2>

    <form (ngSubmit)="login()">
      <div class="form-group">
        <label>Nombre de Usuario</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="credenciales.username"
          required
          placeholder="Tu nombre de usuario"
        />
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="credenciales.password"
          required
          placeholder="********"
        />
      </div>

      <button type="submit" class="btn-primary">Entrar</button>

      <div class="auth-footer mt-3">
        <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate con tu código</a></p>
      </div>
    </form>
  </div>
</div>
