<nav>
  <div class="logo-container">
    <a routerLink="/inicio" (click)="cerrarMenu()">
      <img src="/assets/escudos/logo-udvillalba.png" alt="UD Villalba" />
    </a>
  </div>

  <button class="hamburger-btn" (click)="toggleMenu()">@if (!menuVisible) { ☰ } @else { ✕ }</button>

  <ul [class.show]="menuVisible">
    <li><a routerLink="/inicio" routerLinkActive="activo" (click)="cerrarMenu()">Inicio</a></li>
    <li><a routerLink="/jornada" routerLinkActive="activo" (click)="cerrarMenu()">Jornada</a></li>
    <li>
      <a routerLink="/clasificacion" routerLinkActive="activo" (click)="cerrarMenu()"
        >Clasificación</a
      >
    </li>
    <li><a routerLink="/menu" routerLinkActive="activo" (click)="cerrarMenu()">Menú</a></li>
    <li><a routerLink="/tienda" routerLinkActive="activo" (click)="cerrarMenu()">Tienda</a></li>

    <li *ngIf="!estaLogueado()">
      <a routerLink="/login" routerLinkActive="activo" (click)="cerrarMenu()">Login</a>
    </li>

    <li *ngIf="esAdmin()">
      <a
        routerLink="/admin"
        routerLinkActive="activo"
        (click)="cerrarMenu()"
        class="nav-link admin-btn"
        >Gestionar Invitaciones</a
      >
    </li>
    <li *ngIf="estaLogueado()">
      <a (click)="logout()" class="nav-link logout-btn" style="cursor: pointer">Cerrar Sesión</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
