<div *ngIf="esAdmin()" class="container mt-4">
  <h2>Panel de Invitaciones</h2>
  <button class="btn btn-success mb-3" (click)="generarNuevoCodigo()">
    ➕ Generar Código de Registro
  </button>

  <ul class="list-group">
    <li *ngFor="let c of codigos" class="list-group-item d-flex justify-content-between">
      <span
        ><strong>{{ c.code }}</strong></span
      >
      <span [class.text-danger]="c.used" [class.text-success]="!c.used">
        {{ c.used ? 'Ya usado' : 'Disponible' }}
      </span>
    </li>
  </ul>
</div>

<div *ngIf="!esAdmin()" class="alert alert-danger mt-4">
  No tienes permisos para acceder a esta sección.
</div>
